<template>
    <div class="content">
        <print-content
                v-if="!edit"
                v-on:edit-storage="updateForm"
        ></print-content>

        <div v-else class="container">
            <storage-form
                    :storage="storage"
                    :edit="edit"
            ></storage-form>
        </div>

        <!--<button v-if="edit" class="ql-submit btn-save" @click="update">Save change</button>-->
        <button v-if="edit" type="button" class="btn btn-success btn-save center-block" @click="update">Save change</button>

    </div>
</template>

<script>
    import PrintContent from './ViewContent.vue';
    import StorageForm from '../layout/StorageForm.vue';

    export default {
        data() {
            return {
                edit: false
            }
        },
        components: {
            PrintContent,
            StorageForm
        },
        methods: {
            updateForm() {
                this.edit = !this.edit;
            },
            update() {
                this.mute = true;

                let titleHtmlContent = $('#storage-title .ql-editor').html();
                let bodyHtmlContent = $('#storage-body .ql-editor').html();

                let storageId = window.location.pathname.split( '/' ).pop();

                window.axios.patch('/api/storages/'  + storageId, {title: titleHtmlContent, body: bodyHtmlContent}).then(({ data }) => {
                    this.mute = false;
                });

                this.edit = !this.edit;
            }
        },
        created() {
            this.$root.$on('storage', (storage) => {
                this.storage = storage;
            })
        }
    }
</script>

<style scoped>

</style>