<template>
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2  push-down-60">
            <button type="button" class="btn btn-success center-block" v-on:click="$emit('edit-storage')">Edit</button>


            <div class="post-content">
                <h1 id="storage-title" v-html="storage.title"></h1>
                <div id="storage-body" v-html="storage.body"></div>
            </div>

            <div class="form-group">
                <br>
                <label for="tag">Tags</label>
                <input type="text" class="form-control" id="storage-tag" name="tag" aria-describedby="tagHelp" placeholder="Enter tag">
                <small id="tagHelp" class="form-text text-muted">You can add new tags separated by a comma</small>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-xs-12  col-sm-6">-->
                    <!--<div class="post-author">-->
                        <!--<h6>Written By</h6>-->
                        <!--<hr>-->
                        <!--&lt;!&ndash;<img src="images/dummy/about-5.jpg" alt="Post author">&ndash;&gt;-->
                        <!--<h5>-->
                            <!--<a href="#">Danielle Thatcher</a>-->
                        <!--</h5>-->
                        <!--<span class="post-author__text">Interface Designer, Poker Player and Imaginary Breakdancer</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                edit: true,
                storage: {}
            }
        },
        methods: {
            read() {
                this.mute = true;

                let storageId = window.location.pathname.split( '/' ).pop();

                window.axios.get('/api/storages/' + storageId).then(({ data }) => {
                    this.storage = data;
                    this.$root.$emit('storage', data);

                    this.mute = false;
                });
            }
        },
        created() {
            this.read();
        }
    }
</script>

<style scoped>

</style>