<template>
    <div id="app">
        <storage-form></storage-form>

        <button class="ql-submit" @click="saveStorage">Save</button>
    </div>
</template>

<script>
    import StorageForm from '../layout/StorageForm.vue';

    export default {
        components: {
            StorageForm
        },
        methods: {
            saveStorage() {
                this.mute = true;

                let bodyHtmlContent = $('#storage-body .ql-editor').html();
                let titleHtmlContent = $('#storage-title .ql-editor').html();

                // let tags = document.getElementById('storage-tag').value;
                //
                // if (tags.trim() !== '') {
                //     let tag = new Tags(tags);
                //     tag = tag.tagsParser();
                // } else {
                //     tag = null;
                // }

                window.axios.post('/api/storages', {title: titleHtmlContent, body: bodyHtmlContent, userId: window.user[0].id}).then(({ data }) => {
                    window.location.href = data.redirect;

                    this.mute = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>