
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Quill
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

//highlight.js
@import "~highlight.js/styles/darcula.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
