<template>
        <div class="boxed storage push-down-45" v-bind:id="'storage-'+ id">
            <ul class="action-menu">
                <li><a href=#>Action</a>
                    <ul class="submenu">
                        <li><a v-bind:href="'/storage/'+ id">Open</a></li>
                        <li v-on:click="$emit('delete-storage', id)"><a >Delete</a></li>
                    </ul>
                </li>
            </ul>

            <div class="row">
                <div class="col-xs-10  col-xs-offset-1">
                    <div class="post-content--front-page">
                        <h2 class="front-page-title">
                            <a v-bind:href="'/storage/'+ id" v-html="title"></a>
                        </h2>
                        <div v-html="body" class="front-page-body"></div>
                    </div>

                    <a href="#">
                        <div class="read-more">
                                Create by {{user.name}}


                            <div class="read-more__arrow">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        props: ['id', 'title', 'body', 'user']
    }
</script>

<style scoped>
    .action-menu {
        float: right;
    }
    ul {
        font: 14px 'Verdana';
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 5;
    }
    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }
    ul.action-menu > li {
        float: left;
        position: relative;
    }
    ul.action-menu > li > a {
        display: block;
        padding: 10px;
        color: white;
        background-color: rgba(14, 135, 67, 0.38);
        text-decoration: none;
    }
    ul.action-menu > li > a:hover {
        background-color: #2a4c2b;
    }
    ul.submenu {
        display: none;
        position: absolute;
        top: 37px;
        left: 0;
        background-color: white;
        border: 1px solid #539755;
    }
    ul.submenu > li {
        display: block;
        cursor: pointer
    }
    ul.submenu > li > a {
        display: block;
        padding: 10px;
        color: white;
        background-color: #5ca85e;
        text-decoration: none;
    }
    ul.submenu > li > a:hover {
        text-decoration: none;
        background: #6ac06c;
        color: #fefefe;
    }
    ul.action-menu > li:hover > ul.submenu {
        display: block;
    }
</style>