<template>
    <div id="app" class="container">
        <div class="row">
            <div class="col-xs-12  col-md-8 storages">
                <storages-list
                        v-for="storage in storages"
                        v-bind="storage"
                        :key="storage.id"
                        v-on:delete-storage="deleteStorage"
                ></storages-list>
            </div>

            <div class="col-xs-12  col-md-4">
                <div class="widget-author  boxed  push-down-30">
                    <div class="widget-author__image-container">
                        <div class="widget-author__avatar--blurred">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <h4>{{currentUser.name}}</h4>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="sidebar  boxed  push-down-30">
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <div class="widget-categories  push-down-30">
                                <h6>Categories</h6>
                                <ul>
                                    <li>
                                        <a href="#">Technology &nbsp; <span class="widget-categories__text">(16)</span> </a>
                                    </li>
                                    <li>
                                        <a href="#">User Interface design &nbsp; <span class="widget-categories__text">(13)</span> </a>
                                    </li>
                                    <li>
                                        <a href="#">User Experience &nbsp; <span class="widget-categories__text">(9)</span> </a>
                                    </li>
                                    <li>
                                        <a href="#">Startups &nbsp; <span class="widget-categories__text">(23)</span> </a>
                                    </li>
                                    <li>
                                        <a href="#">Reading &amp; Books &nbsp; <span class="widget-categories__text">(3)</span> </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget-featured-post  push-down-30">
                                <h6>Featured post</h6>
                                <h4>
                                    <a href="single-post.html">Featured Author Post</a>
                                </h4>
                                <p>Why ProteusThemes products is so much better than lorem everyone else's.</p>
                            </div>

                            <div class="widget-posts  push-down-30">
                                <h6>Popular / Recent</h6>

                                <ul class="nav  nav-tabs">
                                    <li class="active">
                                        <a href="#recent-posts" data-toggle="tab"> <span class="glyphicon  glyphicon-time"></span> &nbsp;Recent Posts </a>
                                    </li>
                                    <li> <a href="#popular-posts" data-toggle="tab"> <span class="glyphicon  glyphicon-flash"></span> &nbsp;Popular Posts </a> </li>
                                </ul>

                            </div>
                            <div class="tags  widget-tags">
                                <h6>Tags</h6>
                                <hr>
                                <a href="#" class="tags__link">Tech</a>
                                <a href="#" class="tags__link">Web</a>
                                <a href="#" class="tags__link">UI/UX</a>
                                <a href="#" class="tags__link">Tutorials</a>
                                <a href="#" class="tags__link">Workflow</a>
                            </div>

                            <div class="widget-recent-comments  push-down-30">
                                <h6>Recent Comments</h6>
                                <ul>
                                    <li>
                                        Mihael on
                                        <a href="single-post.html#comments">ProteusThemes and its products are great</a>
                                        <br />
                                    </li>
                                    <li>
                                        Jaka on
                                        <a href="single-post.html#comments">Readable is most readable WordPress theme out there</a>
                                    </li>
                                    <li>
                                        Mihael on
                                        <a href="single-post.html#comments">Everybody loves Readable</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-icons  widget-social-icons  push-down-30">
                                <h6>Social Icons</h6>
                                <a href="#" class="social-icons__container"> <span class="zocial-facebook"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-twitter"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-skype"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-youtube"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-reddit"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-wordpress"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-bitbucket"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-github"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-html5"></span> </a>
                                <a href="#" class="social-icons__container"> <span class="zocial-meetup"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    function Storage({id, title, body, user}) {
        this.id = id;
        this.title = title;
        this.body = body;
        this.user = user;
    }

    import StoragesList from './List.vue';

    export default {
        data() {
            return {
                storages: [],
                currentUser: window.user[0]
            }
        },
        components: {
            StoragesList
        },
        methods: {
            read() {
                this.mute = true;
                window.axios.get('/api/storages').then(({ data }) => {
                    data.forEach(storage => {
                        this.storages.push(new Storage(storage));
                    });

                    this.mute = false;
                });
            },
            deleteStorage(id) {
                this.mute = true;

                window.axios.delete('/api/storages/' + id).then(({ data }) => {
                    if (data.remove) {
                        this.storages = this.storages.filter(function(storage){
                            return storage.id != data.id;
                        });

                        $('#storage-' + data.id).remove(); // TODO: react deleted
                    }

                    this.mute = false;
                });
            }
        },
        created() {
            this.read();
        }
    }
</script>