<template>
    <div id="storage-form">
        <h5 class="t-title">Title</h5>
        <div id="storage-title">
        </div>

        <h5 class="t-body">Body</h5>
        <div id="storage-body">
        </div>

        <div class="form-group">
            <br>
            <label for="tag">Tags</label>
            <input type="text" class="form-control" id="storage-tag" name="tag" aria-describedby="tagHelp" placeholder="Enter tag">
            <small id="tagHelp" class="form-text text-muted">You can add new tags separated by a comma</small>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['storage', 'edit'],
        methods: {
            initializationQuill() {
                let toolbarOptionsForBody = ['bold', 'italic', 'underline', 'strike', 'code-block'];
                let toolbarOptionsForTitle = ['bold', 'italic', 'underline', 'strike'];

                hljs.configure({
                    languages: ['javascript', 'ruby', 'python', 'php', 'html', 'css', 'scss']
                });

                const quillForTitle = new Quill('#storage-title', {
                    theme: 'snow',
                    modules: {
                        toolbar: toolbarOptionsForTitle
                    }
                });

                const quill = new Quill('#storage-body', {
                    theme: 'snow',
                    modules: {
                        syntax: true,
                        toolbar: toolbarOptionsForBody
                    }
                });
            },
            ifUpdate() {
                if (this.edit === true) {
                    $('#storage-title .ql-editor').html(this.storage.title);
                    $('#storage-body .ql-editor').html(this.storage.body);
                }
            }
        },
        mounted() {
            this.initializationQuill();
            this.ifUpdate();
        }
    }
</script>

<style scoped>

</style>